@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.button{
    height: 3em;
    width: 10em;
    background-color: inherit;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: bold;
    border: none;
    transition: .1s;
    position: relative;
    top: 50px;
}

.button:hover{
    opacity: .6;
}