.inputContainer{
    display: flex;
    flex-direction: column;        
}

.inputContainer input{
    width: 100px;    
    font-size: 32px;    
    padding: 10px;    
    outline: none; 
    border: none; 
    background-color: rgb(239, 239, 239);
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 4px;    
}

.inputContainer span{
    width: 100%;    
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    margin: .1em auto;
    overflow-wrap: break-word;
}
