@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.mainContainer{
    width: 700px;    
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5em auto;
    border-radius: 2em;
    display: flex;
    padding: 0em;
    min-height: 450px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.mainContainer svg{
    color: white;
    cursor: pointer;
    transition: .3s;    
    height: 2em;
    width: 2em;    
    padding: .5em;  
    position: absolute;  
    top: 30px;
    left: 30px;
}
.mainContainer svg:hover{
    border-radius: 5em;
    background-color: #5786A8;
}

span{
    color: white;
    font-family: Montserrat, sans-serif;    
    font-size: 20px;    
}

h1{
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 34px;
    text-align: center;
}