@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.mainContainer{
    width: 700px;    
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5em auto;
    border-radius: 2em;
    display: flex;
    padding: 1em;
    min-height: 450px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

span{
    color: white;
    font-family: Montserrat, sans-serif;    
    font-size: 20px;    
}

h1{
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 34px;
    text-align: center;
}

.quotes{
    margin: 5em auto;
}

.quotes span{    
    float: right;    
    margin-top: 2em;
}

.dateAndTime{    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;   
    width: 96%;       
    padding: 1em 0;      
    margin: 1em;    
}

.dateAndTime div:nth-child(1) {     
    width: 20%;
    text-align: center;
  }

  .dateAndTime div:nth-child(2) {    
    width: 58%;    
    text-align: center;
  }

.dateAndTime div:nth-child(3) {    
    width: 22%;    
    text-align: center;
  }