@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.mainContainer{
    width: 600px;    
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5em auto;
    border-radius: 2em;
    display: flex;
    padding: 1em;
    min-height: 350px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

span{
    color: white;
    font-family: Montserrat, sans-serif;    
    font-size: 20px;    
}

h1{
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 34px;
    text-align: center;
}

.quotes{
    margin: 5em auto;
}

.quotes span{    
    float: right;    
    margin-top: 2em;
}

.dateAndTime{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;   
    width: 100%;       
    padding: 2em 0em;
    border: 1px solid blue;
}

.dateAndTime span:nth-child(1) {    
    float: left;
    margin-left: 0em;
  }

  .dateAndTime span:nth-child(2) {    
     text-align: center;

  }

.dateAndTime span:nth-child(3) {    
    float: right;
    margin-right: 0em;
  }